@font-face {
    font-family: "Inter", sans-serif;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    margin: 0px;
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vw;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px #000000;
}

header h1 {
    font-family: "Inter", sans-serif;
    color: black;
}

main {
    font-family: "Inter", sans-serif;
    padding: 0vw 2vw 2vw 2vw;
}

nav {
    margin-right: 1.5vw;
    width: 40%;
}

nav ul {
    display: flex;
    gap: 1vw;
}

nav li {
    list-style-type: none;
    flex: 1;
}

nav a {
    display: block;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.666);

    padding: 1vw;
    
    text-align: center;
    text-decoration: none;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

nav a:hover {
        box-shadow: 3px 3px 2px black;
        transform: translate(2px, 2px);
}

nav a {
    font-family: "Inter", sans-serif;
    font-weight: 600;

    color: black;
}