@font-face {
    font-family: "Inter", sans-serif;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
    --background-color: white;
    --header-color: white;
    --border-color: black;
    --about-color: darkblue;
}

body {
    margin: 0px;
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5vw;
    gap: 2vw;
    background-color: var(--header-color);
    box-shadow: 1px 1px 5px #000000;
}

header h1 {
    color: var(--border-color);
    margin-top: 0;
    margin-bottom: 2vh;
}

main {
    padding: 0vw 2vw 2vw 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-right: 1.5vw;
    width: 40%;
}

nav ul {
    display: flex;
    gap: 1vw;
}

nav li {
    list-style-type: none;
    flex: 1;
}

nav a, #return-home {
    display: block;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.666);

    padding: 1vw;
    
    text-align: center;
    text-decoration: none;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

nav a:hover, #return-home:hover {
    box-shadow: 3px 3px 2px var(--border-color);
    transform: translate(2px, 2px);
}

nav a, #return-home {
    font-weight: 600;

    color: var(--border-color);
}

#return-home {
    width: fit-content;
    margin-top: 5vh;
}