fieldset {
    border: 0px;
    margin-top: 5vh;

    width: 50%;
}

legend {
    text-align: center;
    font-size: x-large;
    font-weight: 600;

    margin-bottom: 5vh;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 10vh;
}

#grid-container-form {
    display: grid;
    grid-template-columns: 2fr 0.75fr;
    grid-row-gap: 10vh;

    margin-top: 10vh;
}

select {
    padding: 0.5vw;
    border: 2px solid var(--front-color);
}

@media (max-width: 426px) {

    fieldset {
        width: 80%;
        margin-bottom: 5vh;
    }

    #grid-container-form {
        grid-template-columns: 1fr;
    }

    #button-container {
        flex-direction: column-reverse;
        align-items: center;
    }
}