/* table display */

caption {
    text-align: start;
    font-size: x-large;
    margin-block: 1vh;
    color: black;
}

table {
    border-collapse: collapse;
    border: 3px solid black;

    width: 60vw;

    color: black;
}

thead {
    background-color: grey;
}

tbody {
    display: block;
    height: 25vw;
    overflow-y: auto;
}

thead th {
    text-align: start;
}

tbody td {
    padding: 0.75vw 10vw 0.75vw 0.25vw;
    text-align: start;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

thead, tbody tr {
    display: table;
    width: 100%; 
    table-layout: fixed;
}

.display-div {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 1.5vw;
    margin-top: 3vh;
    gap: 0.5em;
}

.display-div p {
    margin: 0;
    padding-right: 0.5em;
}

.detail {
    cursor: pointer;
    padding: 0vw;
    color: darkblue;
}

.detail:hover {
    text-decoration: underline;
}

/* grid display */

.grid {
    display: flex;
    flex-wrap: wrap;

    gap: 2em;
    justify-content: center;
}

.grid button {
    padding: 0.5vw 1vw;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;

    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.666);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.grid button:hover {
    box-shadow: 3px 3px 2px black;
    transform: translate(2px, 2px);
}

.card {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1vw;

    width: 10%;
    text-align: center;
}

.card p {
    margin: 0;
}

.card-nom {
    font-weight: 600;
    padding-bottom: 1vh;
}

.card-prenom {
    font-size: small;
    padding-bottom: 1vh;
}