/* table display */

caption {
    text-align: start;
    font-size: x-large;
    margin-block: 1vh;
    color: var(--border-color);
}

table {
    border-collapse: collapse;
    border: 3px solid var(--border-color);

    width: 60vw;
    align-self: self-start;

    color: var(--border-color);
}

thead {
    background-color: var(--med-color);
}

tbody {
    display: block;
    height: 25vw;
    overflow-y: auto;
}

thead th {
    text-align: start;
}

tbody td {
    padding: 0.75vw 10vw 0.75vw 0.25vw;
    text-align: start;
}

tbody tr:nth-child(odd) {
    background-color: var(--background-color);
}

tbody tr:nth-child(even) {
    background-color: var(--light-med-color);
}

thead, tbody tr {
    display: table;
    width: 100%; 
    table-layout: fixed;
}

.display-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 10vw;
    margin-top: 3vh;
    gap: 0.5em;
    
    border: 0px;
}

.display-div p {
    margin: 0;
    padding-right: 0.5em;
}

.detail {
    cursor: pointer;
    padding: 0vw;
    color: var(--about-color);
}

.detail:hover {
    text-decoration: underline;
}

/* grid display */

.grid {
    display: flex;
    flex-wrap: wrap;

    gap: 2em;
    justify-content: center;
}

.grid button {
    padding: 0.5vw 1vw;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);;
    cursor: help;

    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.666);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.grid button:hover {
    box-shadow: 3px 3px 2px var(--border-color);
    transform: translate(2px, 2px);
    border: 2px solid var(--about-color);
    color: var(--about-color);
}

.card {
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    padding: 1vw;

    width: 10%;
    text-align: center;
}

.card p {
    margin: 0;
}

.card-nom {
    font-weight: 600;
    padding-bottom: 1vh;
}

.card-prenom {
    font-size: small;
    padding-bottom: 1vh;
}

/* Modal */

#modal {
    position: fixed;
    bottom: 1vw;
    right: 1vw;

    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    min-width: 320px;
    min-height: 250px;
    padding: 1vw;
    gap: 3vh;
}

.modal-hidden {
    visibility: hidden;
}

.modal-active {
    visibility: visible;
}

#modal p {
    margin: 0px;
}

#modal > span {
    top: 5px;
    right: 5px;

    cursor: pointer;

    padding: 0.25em 0.5em;
    position: absolute;
}

#modal-container {
    display: flex;
    flex-grow: 1;
    gap: 1.5vw;

    align-items: center;
}

#modal-container > img {
    border: 2px solid var(--border-color);
}

#modal-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3vh;
}

#modal-info div {
    display: flex;
    justify-content: space-between;
}

#modal-container-anecdote {
    border: 2px solid var(--border-color);
    min-height: 15vh;

    padding: 1vw;

    text-align: center;
    text-wrap: wrap;
    align-content: center;
}

/* Responsive List */

/* Tablet */

@media (max-width: 1250px) and (min-width: 769px) {

    caption {
        text-align: center;
    }

    table {
        width: 80vw;
        align-self: center;
    }

    tbody {
        height: 29vh;
    }

    .display-div {
        font-size: larger;
    }
}

@media (max-width: 768px) and (min-width: 390px) {

    caption {
        text-align: center;
    }

    table {
        width: 90vw;
        align-self: center;
    }

    tbody {
        height: 29vh;
    }


    .display-div {
        font-size: larger;
        justify-content: center;
    }
}

@media (max-width: 389px) {
    caption {
        text-align: center;
    }

    table {
        width: 95vw;
        align-self: center;
        font-size: small;
    }

    tbody {
        height: 29vh;
    }


    .display-div {
        font-size: small;
        justify-content: center;
    }
}


/* Responsive Card */

@media (max-width: 426px) {
    main {
        margin-inline: 4vw;
    }

    .master > h2 {
        text-align: center;
    }

    .card {
        width: 25%;
        padding-bottom: 2vh;
    }

    .card-nom {
        font-size: 3vw;
    }
}

/* MODAL Responsive */

@media (max-width: 426px) {
    #modal {
        font-size: 4vw;
        min-width: 300px;
    }
}